{% if btn_type == 'job_plan_detail' %}
    <a class="btn btn-primary btn-sm" href="{% url "deploy:job_plan_detail" job_plan.id %}"><ion-icon name="information-circle"></ion-icon> 详情</a>
{% elif btn_type == 'job_history' %}
    <a class="btn btn-info btn-sm" href="{% url "deploy:job_plan_list" job_plan.id %}"><ion-icon name="recording"></ion-icon> 历史记录</a>
{% elif btn_type == 'job_update' %}
    <a class="btn btn-success btn-sm" href="{% url "deploy:job_update" job_plan.id %}"><ion-icon name="create"></ion-icon> 更新</a>
{% elif btn_type == 'job_delete' %}
    <a class="btn btn-danger btn-sm" href="{% url "deploy:job_delete" job_plan.id %}"><ion-icon name="close-circle"></ion-icon> 删除</a>
{% elif btn_type == 'audit' %}
    <a class="btn btn-primary btn-sm" href="{% url "deploy:audit" job_plan.id %}">审核</a>
{% elif btn_type == 'execute' %}
    <a class="btn btn-primary btn-sm" href="{% url "deploy:execute" job_plan.id %}">发布</a>
{% elif btn_type == 'test' %}
    <a class="btn btn-primary btn-sm" href="{% url "deploy:test" job_plan.id %}">测试</a>
{% endif %}