{% extends "base_list.html" %}
{% load static %}
{% block title %}发布历史列表{% endblock %}

{% block content_header %}发布历史列表{% endblock %}
{% block content_header_page1 %}主页{% endblock %}
{% block content_header_page2 %}发布历史列表{% endblock %}
{% block card_title %}{{ job.name }}发布历史列表{% endblock %}
{% block card_body %}
  <table class="table table-bordered table-hover datatable-pagination">
    <thead>
    <tr>
      {% include 'deploy/job_plan_table.html' with table_type='table_header' %}
    </tr>
    </thead>
    <tbody>
    {% for job_plan in job_plans %}
    <tr>
        {% include 'deploy/job_plan_table.html' with table_type='table_body' job_plan=job_plan %}
        <td>
            {% include 'deploy/job_plan_status_btn.html' with job_plan=job_plan %}
        </td>
        <td>
            {% include 'deploy/job_plan_operator_btn.html' with btn_type='job_plan_detail' job_plan=job_plan %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block base_script %}
    {{ block.super }}
    <script>
        $('.datatable-pagination').DataTable({
          "order": [[7,'desc'],[9,'asc']],
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "oLanguage": {
              "sLengthMenu": "每页显示 _MENU_ 条记录",
              "sZeroRecords": "对不起，查询不到任何相关数据",
              "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
              "sInfoEmtpy": "找不到相关数据",
              "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
              "sProcessing": "正在加载中...",
              "sSearch": "搜索",
              "sUrl": "", //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
              "oPaginate": {
                  "sFirst":    "第一页",
                  "sPrevious": " 上一页 ",
                  "sNext":     " 下一页 ",
                  "sLast":     " 最后一页 "
              }
          }, //多语言配置
        });
    </script>
{% endblock %}