{% extends "table.html" %}
{% load static %}
{% block title %}空间管理{% endblock %}
{% block content_header %}空间管理{% endblock %}
{% block content_header_page1 %}主页{% endblock %}
{% block content_header_page2 %}空间管理{% endblock %}
{% block card_title %}空间管理{% endblock %}
{% block card_title_component %}&nbsp;<button type="button" class="btn btn-success btn-sm"><ion-icon name="person-add"></ion-icon> 新增</button>{% endblock %}
{% block card_body %}
  <table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>空间名</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for space in spaces %}
    <tr>
        <td>{{ space.name }}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm"><ion-icon name="information-circle"></ion-icon> 详情</button>
            <button type="button" class="btn btn-success btn-sm"><ion-icon name="create"></ion-icon> 编辑</button>
            <button type="button" class="btn btn-danger btn-sm"><ion-icon name="trash"></ion-icon> 删除</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}