{% extends "table.html" %}
{% load static %}
{% block title %}工单列表{% endblock %}
{% block content_header %}工单列表{% endblock %}
{% block content_header_page1 %}主页{% endblock %}
{% block content_header_page2 %}工单列表{% endblock %}
{% block card_title %}工单列表{% endblock %}
{% block card_body %}
  <table id="tickets" class="table table-bordered table-hover">
    <thead>
    <tr>
      {% include 'ticket/ticket_table.html' with table_type='table_header' %}
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
    <tr class="{% if ticket.status == -1 %}table-danger{% endif %}">
        {% include 'ticket/ticket_table.html' with table_type='table_body' ticket=ticket %}
        <td>
            {% include 'ticket/ticket_status_btn.html' %}
        </td>
        <td>
            {% include 'ticket/ticket_operator_btn.html' with btn_type='detail' ticket=ticket %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block  base_script %}
    {{ block.super }}
    <script>
      $(function (){
        new Clipboard('.copy');
        const Toast = Swal.mixin({
          toast: true,
          position: 'top',
          showConfirmButton: false,
          timer: 1000
        });

        $('.swalDefaultSuccess').click(function() {
          Toast.fire({
            icon: 'success',
            title: '已复制到粘贴板.'
          })
        });
        $('.tickets').DataTable({
          "order": [[10,'desc'],[11,'asc']],
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "oLanguage": {
              "sLengthMenu": "每页显示 _MENU_ 条记录",
              "sZeroRecords": "对不起，查询不到任何相关数据",
              "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
              "sInfoEmtpy": "找不到相关数据",
              "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
              "sProcessing": "正在加载中...",
              "sSearch": "搜索",
              "sUrl": "", //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
              "oPaginate": {
                  "sFirst":    "第一页",
                  "sPrevious": " 上一页 ",
                  "sNext":     " 下一页 ",
                  "sLast":     " 最后一页 "
              }
          }, //多语言配置
        });
      });
    </script>
{% endblock %}