{% extends "form.html" %}
{% load static %}
{% block title %}工单管理{% endblock %}
{% block content_header %}工单管理{% endblock %}
{% block content_header_page1 %}主页{% endblock %}
{% block content_header_page2 %}工单管理{% endblock %}
{% block card_title %}工单管理{% endblock %}
{% block card_title_component %}&nbsp;<button type="button" class="btn btn-success btn-sm"><ion-icon name="person-add"></ion-icon> 新增</button>{% endblock %}
{% block form %}
    <!-- form start -->
    <form method="post" role="form" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="card-body">
            <div class="form-group" style="display: none" >
                {{ form.number }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="title">{{ form.type.label }}:</label>
                {{ form.type }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="title">{{ form.title.label }}:</label>
                {{ form.title }}
            </div>
             <div class="form-group">
                <label class="control-label col-xs-1" for="space">{{ form.space.label }}:</label>
                {{ form.space }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="service">{{ form.service.label }}:</label>
                {{ form.service }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="vcs_tag">{{ form.vcs_tag.label }}:</label>
                {{ form.vcs_tag }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="audit_user">{{ form.audit_user.label }}:</label>
                {{ form.audit_user }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="execute_user">{{ form.execute_user.label }}:</label>
                {{ form.execute_user }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="audit_user">{{ form.test_user.label }}:</label>
                {{ form.test_user }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="service_conf">{{ form.service_conf.label }}:</label>
                {{ form.service_conf }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="db_conf">{{ form.db_conf.label }}:</label>
                {{ form.db_conf }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="db_file">{{ form.db_file.label }}:</label>
                {{ form.db_file }}
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1" for="other_conf">{{ form.other_conf.label }}:</label>
                {{ form.other_conf }}
            </div>
            <div class="form-group" style="display: none">
                <label class="control-label col-xs-1" for="status">{{ form.status.label }}:</label>
                {{ form.status }}
            </div>
            <div class="form-group" style="display: none">
                <label class="control-label col-xs-1" for="status">{{ form.parent.label }}:</label>
                {{ form.parent }}
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" value="Submit" id="submit" >提交</button>
        </div>
    </form>
{% endblock %}

{% block  base_script %}
    {{ block.super }}
    <script src="{% static "sys_mgr/plugins/bs-custom-file-input/bs-custom-file-input.min.js" %}"></script>
    <script>
        $(document).ready(function () {
          bsCustomFileInput.init();
          update_user_info();
        });
        function update_user_info(){
            //获取空间
            var space_id = $("#id_space").children(":selected").attr("value");
            //获取类型
            var type_id=$("#id_type").children(":selected").attr("value");
            var ticket_type=$("#id_type").children(":selected").text();
            //获取服务
            var service_id=$("#id_service").children(":selected").attr("value");
            //调用ajax获取对应的审核人员、执行人员、测试人员，删除旧的记录
            console.log(space_id,type_id,service_id);
            if(space_id != null && type_id != null && service_id != null){
                $.ajax({
                    url: "/ticket/bind?service_id="+service_id+"&space_id="+space_id+"&type_id="+type_id,
                    dataType : "json",
                    type: "get",
                    success: function(data){

                       if(data.errno == 0 ){
                           //移除旧的option
                           $("#id_audit_user option").remove();
                           $("#id_execute_user option").remove();
                           $("#id_test_user option").remove();
                           for(var i=0; i<data.data.audit_users_list.length;i++){
                                console.log("audit"+i);
                                $('#id_audit_user').append('<option value="'+data.data.audit_users_list[i]['audit_user_id']+'">'+data.data.audit_users_list[i]['audit_user_name']+'</option>');
                            }
                            for(var i=0; i<data.data.execute_users_list.length;i++){
                                console.log("execute"+i);
                                $('#id_execute_user').append('<option value="'+data.data.execute_users_list[i]['execute_user_id']+'">'+data.data.execute_users_list[i]['execute_user_name']+'</option>');
                            }
                            for(var i=0; i<data.data.test_users_list.length;i++){
                                console.log("test"+i);
                                $('#id_test_user').append('<option value="'+data.data.test_users_list[i]['test_user_id']+'">'+data.data.test_users_list[i]['test_user_name']+'</option>');
                            }
                           if(data.data.bind == 0 ){
                                //启用选项
                                $("#id_audit_user").attr("disabled",false);
                                $("#id_execute_user").attr("disabled",false);
                                $("#id_test_user").attr("disabled",false);
                           }else{
                               //填充值
                                $("#id_audit_user").attr("disabled",true);
                                $("#id_execute_user").attr("disabled",true);
                                $("#id_test_user").attr("disabled",true);
                               //禁用选项
                           }
                       }
                    }
                });
            }
        }
    </script>
    <script>
        $("#submit").click(function(){
            var id_title =$("#id_title").val();
            if(id_title!=""){
                $("#id_type").attr("disabled",false);
                $("#id_title").attr("disabled",false);
                $("#id_space").attr("disabled",false);
                $("#id_service").attr("disabled",false);
                $("#id_vcs_tag").attr("disabled",false);
                $("#id_audit_user").attr("disabled",false);
                $("#id_execute_user").attr("disabled",false);
                $("#id_test_user").attr("disabled",false);
                $("#id_service_conf").attr("disabled",false);
                $("#id_db_conf").attr("disabled",false);
                $("#id_other_conf").attr("disabled",false);
            }
        });
    </script>
{% endblock %}